<ion-header>
  <ion-navbar>
    <ion-title>Bean Explorer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block icon-right (click)="getBeans($event)" [disabled]="isSearching || beanListener.isListening">
    Search for Beans
    <div class="icon-frame">
      <ion-icon name="arrow-forward" *ngIf="!isSearching"></ion-icon>
      <ion-spinner name="dots" *ngIf="isSearching"></ion-spinner>
    </div>
  </button>

  <br />
  <div *ngIf="beanSearch.beanSelected.address">
    <div class="bean-selected-name">{{ beanSearch.beanSelected.name || 'Unknown Bean' }}</div>
    <div class="bean-selected-addr">{{ beanSearch.beanSelected.address }}</div>

    <button ion-button block icon-right (click)="beanConnect(beanSearch.beanSelected)" *ngIf="!beanListener.isListening" [disabled]="isSearching || beanListener.isConnecting">
      <div class="icon-frame"></div>
      Connect
      <div class="icon-frame">
        <ion-spinner name="dots" *ngIf="beanListener.isConnecting"></ion-spinner>
      </div>
    </button>

    <button ion-button block icon-right color="danger" (click)="beanDisconnect()" *ngIf="beanListener.isListening">
      Disconnect
    </button>

    <br />
    <ion-list>
      <button ion-item block icon-right (click)="openPage('settings')" [disabled]="isSearching || !beanListener.isListening">
        Settings
      </button>
      <button ion-item block icon-right (click)="openPage('dash')" [disabled]="isSearching || !beanListener.isListening">
        Dashboard
      </button>
      <button ion-item block icon-right (click)="openPage('color')" [disabled]="isSearching || !beanListener.isListening">
        Colors
      </button>
      <button ion-item block icon-right (click)="openPage('stick')" [disabled]="isSearching || !beanListener.isListening">
        Joystick
      </button>
    </ion-list>
  </div>
</ion-content>

<!--<modal-working [isRunning]="isSearching"></modal-working>-->