
.modal-working-container{
  background-color: transparant;
  height: 100vh;
  width: 100%;
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
  transition: all 0.5s ease;
  display:block;
  z-index: 20001;

  .spinner-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 100px auto;
  }

}


