

.status {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 5px;
  left: 5px;
}

[name=hand] {
  font-size: x-large;
}

[name=flash] {
  font-size: xx-large;
}

ion-range {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.label-short {
  margin-bottom: 0;
}


